<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Calc</title>

    <!-- Bootstrap -->
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/css/theme.css" rel="stylesheet">
    <link href="vendor/css/wtf-forms.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body ng-app="solarcap-app">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Brand</a>-->
      </div>

      <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav">
          <li class="logo">
            <img src="img/logo.png" width="35">
          </li>
          <!--
          <li class="active"><a href="#">Item</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Menu Item</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid full-height">
    <div class="row full-height">
      <div class="col-xs-12 col-sm-8 full-height">
        <div class="full-height" id="mapContainer" ng-controller="MapCtrl"></div>
      </div>
      <div class="col-xs-12 col-sm-4 panel-right full-height">
        <script type="text/ng-template" id="typeaheadTemplate.html">
          <a>
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
          </a>
        </script>
        <form class="row-padding" role="form" ng-controller="CalcCtrl" ng-submit="doSearch()">
          <div class="row">
            <div class="col-xs-12">
              <!--<label for="address">Address:</label>-->
              <div class="input-group">
                <!--<input type="text" class="form-control" ng-change="doRecommend()" ng-model="address" placeholder="Where do you live mate?">-->
                <div class="typeahead">
                  <input class="form-control" type="text" ng-model="address" placeholder="Where do you live mate?" ng-change="doRecommend()" typeahead-on-select="doSearch()" typeahead="r for r in recommendations" typeahead-template-url="typeaheadTemplate.html">
                </div>
                <span class="input-group-btn">
                  <button class="btn btn-info btn-blue" type="button" name="address" id="address" ng-click="doSearch()">&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Type:</label>
              <div class="btn-group btn-group-justified type-picker">
                <div class="btn-group">
                  <button type="button" class="btn btn-white" ng-model="inputData.kind" radio="HOME"><i class="fa fa-home fa-2x"></i><br>House</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-white" ng-model="inputData.kind" radio="FIELD"><i class="fa fa-th-large fa-2x"></i><br>Field</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Residents:</label>
              <div class="rating-list">
                <i class="fa fa-child fa-3x rating-item" ng-class="{'active': inputData.residents >= 1}" ng-click="setRatingValue(1)"></i>
                <i class="fa fa-child fa-3x rating-item" ng-class="{'active': inputData.residents >= 2}" ng-click="setRatingValue(2)"></i>
                <i class="fa fa-child fa-3x rating-item" ng-class="{'active': inputData.residents >= 3}" ng-click="setRatingValue(3)"></i>
                <i class="fa fa-child fa-3x rating-item" ng-class="{'active': inputData.residents >= 4}" ng-click="setRatingValue(4)"></i>
                <i class="fa fa-child fa-3x rating-item" ng-class="{'active': inputData.residents == 5}" ng-click="setRatingValue(5)"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="controls-stacked">
                <label class="control checkbox">
                  <input type="checkbox" ng-model="inputData.withBattery">
                  <span class="control-indicator"></span>
                  &nbsp;&nbsp;Calculate with battery?
                </label>
              </div>

            </div>
          </div>
          <div class="row">
            <div ng-class="{'col-sm-6': inputData.withBattery, 'col-xs-4': !inputData.withBattery}">
              <div class="result-item">
                <strong>Yearly Subsidy</strong><br>
                {{ subsidy | currency : ""}} EUR
              </div>
            </div>
            <div ng-class="{'col-sm-6': inputData.withBattery, 'col-xs-4': !inputData.withBattery}">
              <div class="result-item">
                <strong>Acquisition Cost</strong><br>
                {{ acquisitionCosts | currency: ""}} EUR
              </div>
            </div>
            <div ng-class="{'col-sm-6': inputData.withBattery, 'col-xs-4': !inputData.withBattery}">
              <div class="result-item">
                <strong>Amortization in years</strong><br>
                {{amortizationInYears}}
              </div>
            </div>
            <div class="col-xs-6" ng-if="inputData.withBattery">
              <div class="result-item">
                <strong>Saving from Battery</strong><br>
                {{savingFromBattery}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <!--<div class="chart" ac-chart="chart.type" ac-data="chart.data" ac-config="chart.config" id="chart"></div>-->
              <div class="chart" google-chart chart="chartObject" style="{{cssStyle}}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="result-item">
                <i class="fa fa-flash fa-2x yellow"></i><br><strong>1234 kwh</strong></i>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="result-item">
                <i class="fa fa-leaf green fa-2x"></i><br><strong>{{CO2Savings | number : 2}}kg CO2 / year</strong>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="http://js.cit.api.here.com/se/2.5.4/jsl.js?with=maps,positioning,places,placesdata" type="text/javascript" charset="utf-8"></script>
  <script src="vendor/js/jquery-1.11.1.min.js"></script>
  <script src="vendor/js/angular.min.js"></script>
  <script src="vendor/js/angular-animate.min.js"></script>
  <script src="vendor/js/bootstrap.min.js"></script>
  <script src="vendor/js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
  <script src="vendor/js/ng-google-chart.js"></script>
  <script src="js/app/app.js" type="text/javascript"></script>
  <script src="js/map/mappoc.js" type="text/javascript"></script>
  <script src="js/solarCalculations/sunCalculator.js" type="text/javascript"></script>
  <script src="js/map/maputility.js" type="text/javascript"></script>
  <script src="js/map/mapbasics.js" type="text/javascript"></script>
  <script src="js/map/markers.js" type="text/javascript"></script>
  <script src="js/map/area.js" type="text/javascript"></script>
  <script src="js/map/location.js" type="text/javascript"></script>
  <script src="js/map/search.js" type="text/javascript"></script>
  <script src="js/map/textmarker.js" type="text/javascript"></script>
  </body>
</html>