@import "var";

html,
body {
  height: 100%;
  overflow-y: hidden;
  background: #fff;
}

/* bootstrap fixes */
.container-fluid {
  padding-left: 0;
}

.full-height {
  height: 100%;
}

.panel-right {
  padding-top: 30px;
  overflow-y: auto;
  background: @background;
}

.btn-blue {
  background: @lightBlue;
  color: #fff;
}

.btn {
  &.active {
    background: @lightBlue;
    color: #fff;
  }

  &.active:hover {
    background: @lightBlue;
  }
}

.rating-list {
  height: 56px;
  padding-top: 12px;

  .rating-item {
    cursor: pointer;

    &.active {
      color: @lightBlue;
    }

    &:hover {
      color: @lightBlue;
    }
  }
}

.btn-white {
  padding: 5px;
  margin-bottom: 3px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: @borderRadius;
  border-radius: @borderRadius;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  -webkit-transition: background-color .22s,border-color .22s,box-shadow .22s;
  transition: background-color .22s,border-color .22s,box-shadow .22s;
  outline: none;
  font-size: 12px;

  &:visited,
  &:active,
  &:link {
    color: #000;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}

.row-padding {
  .row {
    padding-bottom: 30px;
  }
}

.chart {
  height: 300px;
  width: 100%;
}

.result-item {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: @borderRadius;
  border-radius: @borderRadius;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  -webkit-transition: background-color .22s,border-color .22s,box-shadow .22s;
  transition: background-color .22s,border-color .22s,box-shadow .22s;
  outline: none;
  text-align: center;
  font-size: 13px;

  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;

  strong {
    font-size: 15px;
  }

  .green {
    color: #8CC152;
  }

  .yellow {
    color: #F6BB42;
  }
}

.typeahead {
  .dropdown-menu {
    width: 100%;
  }
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background: @lightBlue !important;
  color: #fff !important;
}

.dropdown-menu {
  background-color: #fff;
}

/* style mdo's wtfforms */
.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem darken(@lightBlue, 10%);
}

.control input:checked ~ .control-indicator {
  background-color: @lightBlue;
}

.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem @lightBlue;
}

.select select:active {
  background-color: @lightBlue;
}

.control-indicator {
  height: 15px;
  width: 15px;
}

/* styles navbar */
.navbar {
  margin-bottom: 0;
  min-height: 30px;
  border-radius: 0;
  -webkit-box-shadow: 0 7px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 7px 0 rgba(0,0,0,.1);
  box-shadow: 0 7px 0 rgba(0,0,0,.1);
}

.navbar-brand {
  color: #fff !important;
  margin-left: 10px !important;
  float: none;
  padding: 0;
  height: 30px;
  line-height: 30px;
}



.navbar-default {
  margin-top: 0;
  background-color: @lightBlue;
}

.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}

.navbar-nav>li.logo>a {
  padding: 0;
}

/* ng-animation stuff */
.fade.ng-enter {
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

.fade.ng-leave {
  -webkit-animation: bounceOut 1s;
  -moz-animation: bounceOut 1s;
  -ms-animation: bounceOut 1s;
  animation: bounceOut 1s;
}

.center-block {
  width: 100%;
  text-align: center;
}