@import "var";

html,
body {
  height: 100%;
  overflow-y: hidden;
  background: @background;
}

/* bootstrap fixes */
.container-fluid {
  padding-left: 0;
}

.full-height {
  height: 100%;
}

.panel-right {
  padding-top: 30px;
  overflow-y: auto;
  background: @background;
}

.btn-blue {
  background: @blue;
  color: #fff;
}




